.container {
  position: relative;
  width: 100%;
}

.main-index {
  text-align: center;
}

.header-title {
  margin: 0;
  font-size: 40px;
}

.header-nav-ul {
  @extend %fake_ul;
  position: absolute;
  right: 0;
  top: 22px;
}

.header-nav-link {
  margin: 3px;
}

#chart {
  width: 400px;
  height: 250px;
}

.main-link {
  padding: 10px;
}

.signup-link {
  @extend .main-link;
  position: relative;
  top: 10px;
  padding: 10px 50px;
}

.flash {
  padding: 10px;
  width: 100%;
  text-align: center;
}

input[type=text] {
  @extend %inputs;
}

input[type=submit] {
  @extend %inputs;
  @extend %submit;
}

input[type=password] {
  @extend %inputs;
}

.events {
  padding: 20px;
}

.event-li {
  position: relative;
  list-style: none;
  left: -30px;
  margin: 10px 0px;
}