$primary_bg: #FFF5EF;
$secondary_bg: #DEA2AB;
$primary_color: #0A6B73;
$secondary_color: #004A4F;

$input_bg: #ECFFFB;

$metal2: #939999;
$metal: #808484;

$fancy_font: 'Amatic SC', serif;
$sans_font: 'Droid Sans', sans-serif;
$serif_font: 'Roboto Slab', serif;