@import "settings";
@import "modules";
@import "layout";

body {
  background: $primary_bg;
  margin: 0px;
  
}

header {
  background: $header_bg;
}

.header-title {
  font-family: $fancy_font;
  color: $header_color;
  font-weight: 700;
}

.header-nav-ul {
  
}

.header-nav-link a {
  text-decoration: none;
  color: $header_color;
  font-family: $serif_font;
}

.header-nav-link a:hover {
  text-shadow: 0 0 5px white;
}